header{
    display: flex;
    gap: 173px;
}
input{
    width: 459px;
    height: 59px;
    border-radius: 8px;
    padding: 0 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
nav button{
    width: 107px;
    height: 40px;
    cursor: pointer;
}