header{
    display: flex;
    gap: 173px;
}
input{
    width: 459px;
    height: 59px;
    border-radius: 8px;
    padding: 0 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
nav button{
    width: 107px;
    height: 40px;
    cursor: pointer;
}
.carts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.section_title {
  font-size: 24px;
  color: #333;
}